.dic_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

.dic_headding{
    font-size: 1.5rem;
    background-color: rgb(255, 240, 219);
    padding: 0 30px;
    margin-top: 20px;
    border-radius: 12px;
    text-transform: capitalize;
    color: rgb(92, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.separator {
    margin-top: 60px;
    border: 0;
}

.separator--line {
    border: 0;
    border-bottom: 5px solid #131801;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}

@keyframes separator-width {
    0% {
        width: 0;
   }
    100% {
        width: 100%;
   }
}

.separator--dots {
    overflow: visible;
    border: 0;
    content: "";
    background-color: #181f01;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: relative;
}
.separator--dots:before {
    content: "";
    background-color: #1c2501;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    animation: dot-move-left 1s ease-out forwards;
}

.separator--dots:after {
    content: "";
    background-color: #181f01;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    animation: dot-move-right 1s ease-out forwards;
}

@keyframes dot-move-right {
    0% {
        left: 0;
   }
    100% {
        left: 32px;
   }
}
@keyframes dot-move-left {
    0% {
        left: 0;
   }
    100% {
        left: -32px;
   }
}
.separator--dotter {
    border: 0;
    border-bottom: 5px dotted #bada55;
    width: 0;
    animation: separator-width 1.5s ease-out forwards;
}

  